body {
    background: url("https://image.shutterstock.com/image-photo/open-wine-corkscrew-near-bottle-260nw-782434591.jpg");
    background-size: cover;
}

.jumbotron {
    text-align: center;
    margin-top: 10px;
    background: transparent;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}

